html, body {
	margin: 0;
	padding: 0;
}

#scoreBoard {
	width: 100%;
	font-size: 25px;
}

#scoreBoard .left {
	text-align: left;
}

#scoreBoard .center {
	text-align: center;
}

#scoreBoard .small {
	font-size: 15px;
}